@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #08a9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #000;
  cursor: pointer;
}

.completed {
  color: #0fafe0;
  text-decoration: line-through;
  cursor: pointer;
}

.todo-list li.completed p {
  text-decoration: line-through;
  color: #888;
}

.complete-icon,
.edit-icon,
.delete-icon {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.complete-icon {
  color: #28a745;
}

.edit-icon {
  color: #007bff;
}

.delete-icon {
  color: #dc3545;
}
 